@font-face {
    font-family: 'Arvo';
    src: local('Arvo'), 
	url('arvo.woff2') format('woff2'), 
	url('arvo.woff') format('woff'), 
	url('arvo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
.arvoReg {
    font-family: 'Arvo';
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arvo';
    src: local('Arvo Bold'), local('Arvo-Bold'), 
	url('arvobold.woff2') format('woff2'), 
	url('arvobold.woff') format('woff'), 
	url('arvobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
.arvoBold {
    font-family: 'Arvo';
    font-weight: 700;
    font-style: normal;
}
