@font-face {
    font-family: 'Clear Sans';
    src: local('Clear Sans Light'), 
	local('ClearSans-Light'), 
	url('clearsanslight.woff2') format('woff2'), 
	url('clearsanslight.woff') format('woff'), 
	url('clearsanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
.clearLight {
    font-family: 'Clear Sans';
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Clear Sans';
    src: local('Clear Sans'), local('ClearSans'), 
	url('clearsans.woff2') format('woff2'), 
	url('clearsans.woff') format('woff'), 
	url('clearsans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.clearReg {
    font-family: 'Clear Sans';
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Clear Sans';
    src: local('Clear Sans Bold'), local('ClearSans-Bold'), 
	url('clearsansbold.woff2') format('woff2'), 
	url('clearsansbold.woff') format('woff'), 
	url('clearsansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.clearBold {
    font-family: 'Clear Sans';
    font-weight: 700;
    font-style: normal;
}
